h1{
    color: #00ffee;
}
html{
    color: red;
  border: 20px solid #ff0059;
}
h1{
  font-size: 50px;
}
.image{
  width:300px
  
}
html{
  background-color: black;
}
.image{
  border: 20px solid #00ff4c;
}
h2{
    color: green;
}